<!-- Copyright © Lucy Poulton 2021. All rights reserved. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- TODO - title and meta tags -->
    <title>New site</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="header">
    <span class="highlight">Lucy Poulton</span>
    <a href="/">Home</a><a href="/projects">Projects</a><a href="https://discord.lucypoulton.net">Discord</a>
    <span style="float: right">
        <% if (locals.user) { %>
            <span><%= locals.user.username %></span> | <a href="/logout">Log out</a>
        <% } %>
    </span>
</div>
<div class="container">
    <%- body %>
</div>
</body>
</html>