<!-- Copyright © Lucy Poulton 2021. All rights reserved. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- TODO - title and meta tags -->
    <title>New site</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="header">
    <span class="highlight">Lucy Poulton</span>
    <span>Home</span><span>Projects</span><span>Discord</span>
</div>
<%- body %>
</body>
</html>