<form enctype="multipart/form-data" method="post" style="display: flex;flex-direction: column">
    <label>
        Project name
        <input type="text" maxlength="64" name="project_name">
    </label>
    <label>
        Description
        <textarea style="resize: none" name="description"></textarea>
    </label>

    <label>
        Long description
        <textarea style="resize: none" name="longdesc"></textarea>
    </label>
    <input type="submit" value="Create">
</form>