<h1>All Projects</h1>

<% if (projects.length === 0) { %>
        There's nothing here at the moment. :(
<% } else {%>
<div class="flowbox">
    <% for (let project of projects) { %>
        <div onclick="window.location='/projects/<%= project.project_name %>'">
            <h2><%= project.display_name %></h2>
            <p><%= project.description %></p>
        </div>
    <% } %>
</div>
<% } %>
<div>
<button onclick="window.location='/projects/create'">New (REMOVE FOR PROD)</button>
</div>